<div class="mobile_header">
    <div class="logo"><a href=""><img src="img/logo.png" alt="AlpsChase"></a></div>
    <div class="mobile_header__wrapper">
        <div class="cabinet">
            <svg class="sign-in" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path style="line-height:normal;text-indent:0;text-align:start;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000;text-transform:none;block-progression:tb;isolation:auto;mix-blend-mode:normal" d="M 5 3 C 3.9069372 3 3 3.9069372 3 5 L 3 11 L 3 13 L 3 19 C 3 20.093063 3.9069372 21 5 21 L 19 21 C 20.093063 21 21 20.093063 21 19 L 21 5 C 21 3.9069372 20.093063 3 19 3 L 5 3 z M 5 5 L 19 5 L 19 19 L 5 19 L 5 13 L 11.585938 13 L 9.2929688 15.292969 L 10.707031 16.707031 L 15.414062 12 L 10.707031 7.2929688 L 9.2929688 8.7070312 L 11.585938 11 L 5 11 L 5 5 z" font-weight="400" font-family="sans-serif" white-space="normal" overflow="visible"></path>
            </svg>
        </div>

        <div class="header_search">
            <a class="header_search__label" href="#"><i class="far fa-search"></i></a>
            <div class="header_search__input">
                <form action="" method="get">
                    <input type="text" name="q" value="">
                    <button><i class="far fa-search"></i></button>
                </form>
            </div>
        </div>
        <div class="header-phone">
            <a href="#" class="lang__current dropdown_link">
                <i class="far fa-phone"></i>
                <i class="far fa-angle-down"></i>
            </a>
            <div class="lang__list dropdown_menu">
                <a href="tel:+74999210222">Москва +7 (499) 921-02-22</a>
                <a href="tel:+77172727783">Астана +7 (7172) 727-783</a>
            </div>

        </div>

        <div class="lang">
            <a href="#" class="lang__current dropdown_link">RU <i class="far fa-angle-down"></i></a>
            <div class="lang__list dropdown_menu">
                <a href=""><i></i><span>RU</span></a>
                <a href=""><i></i><span>EN</span></a>
                <a href=""><i></i><span>FR</span></a>
                <a href=""><i></i><span>DE</span></a>
                <a href=""><i></i><span>IT</span></a>
                <a href=""><i></i><span>ES</span></a>

            </div>
        </div>

        <div class="main_menu">
            <div class="main_menu__icon">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
</div>
<div class="mobile_menu">
    <nav>
        <a href="">О компании</a>
        <a href="">Услуги</a>
        <a href="">Страны</a>
        <a href="">Публикации</a>
        <a href="">Мероприятия</a>
        <a href="">Контакты</a>
        <!--<a href="">ПОЛНАЯ версия сайта</a>-->
    </nav>
</div>